.highlight-grid a {
  text-decoration: none;
}

.fade-item {
  opacity: 0;
  transform: translateY(35px);
  filter: blur(6px);
  transition:
    opacity 1s ease,
    transform 1s ease,
    filter 1s ease;
}

.fade-item.show {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}
